useDynLib(aws)
if(capabilities("X11")) importFrom(grDevices,X11.options)
if(capabilities("aqua"))  importFrom(grDevices,quartz.options)
export(aws,lpaws,aws.irreg,aws.gaussian,aws.segment)
export(awsdata,binning)
export(aws.segment.krv)
